---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: '~/assets/images/about-us.jpg',
      alt: 'Image',
    }}
  >
    <Fragment slot="title">
      「NUOVO」はイタリア語で「新しい」を意味し、「TAKA」は呼称です。 <br />
      <span class="text-accent dark:text-white highlight"> なぜ「新しい」をつけたのか？</span>
    </Fragment>

    <Fragment slot="subtitle">
      実はある日突然、右足が動かなくなり「この先どうなるのだろう？」
      不安が頭をよぎりその後なんとか歩ける様になりました。
      そこで、「新しい」何かに挑戦しようと、今までの「好きな事」x「やってきた事」x「新しい」を組み合わせ挑戦中です。
    </Fragment>
  </Hero>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Nuovotaka"
    subtitle=""
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Web Site',
        description: '自分の推しのサイトを紹介するところ',
        icon: 'tabler:home',
      },
      {
        title: 'Blog',
        description: '時々更新の私に関する事柄をアップしています',
        icon: 'tabler:book',
      },
      {
        title: 'Shop',
        description: '自作キーボードを販売しているお店です',
        icon: 'tabler:shopping-bag',
      },
    ]}
  />
</Layout>
